/ExpressionSolver/ExpressionSolverUnitTest/bin
/ExpressionSolver/ExpressionSolverUnitTest/obj
/ExpressionSolver/ExpressionSolverExample/obj
/ExpressionSolver/ExpressionSolverExample/bin
/ExpressionSolver/ExpressionSolver/obj
/ExpressionSolver/ExpressionSolver/bin
/ExpressionSolver/TestResults
